<nav>
    <div class="nav-container">
        <div class="header">
            <img src="../../../assets/smarthome.png" height="50" alt="">
            <h2><strong>SMART</strong>house</h2>
        </div>
        <ul>
            <li><img src="../../../assets/home.svg" height="25" alt="">
                <p>Dashboard</p>
            </li>
            <li><img src="../../../assets/house-2.svg" height="25" alt="">
                <p>House</p>
            </li>
            <li><img src="../../../assets/row-vertical.svg" height="25" alt="">
                <p>Flores</p>
            </li>
            <li><img src="../../../assets/verify.svg" height="25" alt="">
                <p>Settings</p>
            </li>
        </ul>
        <button><img src="../../../assets/logout.svg" height="20" alt=""><p>LogOut</p></button>
    </div>
</nav>
