<nav>
    <div class="nav-container">
        <div class="header">
            <img src="../../../assets/smarthome.png" height="50" alt="">
            <h2><strong>SMART</strong>house</h2>
        </div>
        <ul>
            <li>
                <a href="">
                    <img src="../../../assets/home.svg" height="25" alt="">
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="flores">
                    <img src="../../../assets/row-vertical.svg" height="25" alt="">
                    <p>Flores</p>
                </a>
            </li>
            <li>
                <a>
                    <img src="../../../assets/verify.svg" height="25" alt="">
                    <p>Settings</p>
                </a>
            </li>
        </ul>
        <button><img src="../../../assets/logout.svg" height="20" alt=""><p>LogOut</p></button>
    </div>
</nav>
